<!DOCTYPE html>
<html lang="en">


  <head >
    <meta charset="utf-8">
  <title>Appointment System</title>
  <link  rel="stylesheet" href="/style.css">
  <style>
  #previousLink {
    display: inline-block;
    padding: 10px 20px;
    background-color:#007BFF; 
    color: black;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    left: 10px; 
    bottom: 10px;
}
  </style>
</head>


<body>
  <h1>User Page</h1>
  <form action="/availability/list" method="get">
    <h2>For booking an Appointment,See Available services</h2>
    <button type="submit"> Available Services</button>
  </form><br>

  <form action="/user/appointment/getAppByUser">
    <h2>Display Your Appointment</h2>
    <button type="submit">Display</button>
  </form>

  <div th:if="${error}" th:text="${error}"> </div><br>

   <a th:href="@{/previous/backToLoginPage}" id="previousLink">Previous</a>

</body>

</html>